/* If you like this, be sure to ❤️ it. */
.wrapper {
  height: 5vh;
  padding-top: 10px;
  /* This part is important for centering the content */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #001219;

  /* End center */
}

.wrapper a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  margin-top: 40px;
  background-color: transparent;
  border-radius: 3px;
  text-transform: uppercase;
  color: #b2b1b1;
  margin-right: -20px;
  font-family: "Roboto", sans-serif;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}

.modal__footer {
  text-align: right;
}
.modal__footer a {
  color: #585858;
}
.modal__footer i {
  color: #d02d2c;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}
